{% extends "base.html" %}

{% block title %}
	Home
{% endblock %}

{% block homeActive %}active{% endblock %}

{% block headScripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript>

		var pokemonImgDivId1Test = "";
		var pokemonImgDivId2Test = "";
		var pokemonButtonLabelTest = "";
		var teamFormHiddenIdTest = "";
		$(function()
		{
			$('.pokemonButton').bind('click', function()
			{
				
				$.getJSON('/background_process_2/',
				{
					pokemonButtonId: $(this).attr('id'),
				},
				function(data)
				{
					pokemonImgDivId1Test = data.pokemonImgDivId1;
					pokemonImgDivId2Test = data.pokemonImgDivId2;
					pokemonButtonLabelTest = data.pokemonButtonLabel;
					teamFormHiddenIdTest = data.teamFormHiddenId;
					$("#test").text(data.pokemonImgDivId2);
				});
				//return false;
				
			});
		});

		$(function() 
		{
			$('#pokemon-list button').bind('click', function() 
			{
				$.getJSON('/background_process/', 
				{
					pokemonName: $(this).text(),
				}, 
				function(data)
				{
					$(pokemonButtonLabelTest).text(data.result);
					$(teamFormHiddenIdTest).val(data.result);

					var img = $(document.createElement('img'));
					img.attr('src', data.pokemonImagePath);
					
					$("#test2").text(pokemonImgDivId1Test);
					$("#test3").text(pokemonImgDivId2Test);
					$(pokemonImgDivId2Test).remove();
					img.appendTo(pokemonImgDivId1Test);

				});
				//return false;
			});
		});


		$(document).ready(function()
		{
			$("#pokemon-input").on("keyup", function()
			{
				var value = $(this).val().toLowerCase();
				$("#pokemon-list button").filter(function() 
				{
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	</script>
{% endblock %}


{% block page_content %}
	<h1 class="text-center">Pokemon Team Builder</h1>

	<div class = "text-center" style="">
		<form method="POST" action="" name="form" enctype="multipart/form-data">
			<br>
			<div class="row">
				<div class="column imgdiv">
					<img id="pokemon1Div">
				</div>
				<div class="column imgdiv">
					<img id="pokemon2Div">
				</div>
				<div class="column imgdiv">
					<img id="pokemon3Div">
				</div>
				<div class="column imgdiv">
					<img id="pokemon4Div">
				</div>
				<div class="column imgdiv">
					<img id="pokemon5Div">
				</div>
				<div class="column imgdiv">
					<img id="pokemon6Div">
				</div>
			</div>
			<div class="row">
				<div class="column">
					<button type="button" class="btn btn-primary outline pokemonButton" id="pokemon1" data-toggle="modal" data-target="#searchPokemonModal"><label id="pokemon1Label">Pokemon 1</label></button>
				</div>
				<div class="column">					
					<button type="button" class="btn btn-primary outline pokemonButton" id="pokemon2" data-toggle="modal" data-target="#searchPokemonModal"><label id="pokemon2Label">Pokemon 2</label></button>
				</div>
				<div class="column">					
					<button type="button" class="btn btn-primary outline pokemonButton" id="pokemon3" data-toggle="modal" data-target="#searchPokemonModal"><label id="pokemon3Label">Pokemon 3</label></button>
				</div>
				<div class="column">					
					<button type="button" class="btn btn-primary outline pokemonButton" id="pokemon4" data-toggle="modal" data-target="#searchPokemonModal"><label id="pokemon4Label">Pokemon 4</label></button>
				</div>
				<div class="column">					
					<button type="button" class="btn btn-primary outline pokemonButton" id="pokemon5" data-toggle="modal" data-target="#searchPokemonModal"><label id="pokemon5Label">Pokemon 5</label></button>
				</div>
				<div class="column">					
					<button type="button" class="btn btn-primary outline pokemonButton" id="pokemon6" data-toggle="modal" data-target="#searchPokemonModal"><label id="pokemon6Label">Pokemon 6</label></button>
				</div>	
			</div>	

			
			<br>

			



		
			{{ form.hidden_tag()}}
			{{ wtf.form_field(form.name) }}
			{{ form.pokemon1name }}
			{{ form.pokemon2name }}
			{{ form.pokemon3name }}
			{{ form.pokemon4name }}
			{{ form.pokemon5name }}
			{{ form.pokemon6name }}

			<button class="btn btn-lg btn-primary btn-block" type="submit">Save team</button>
		</form>
	</div>

	<div class="modal fade" id="searchPokemonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Pokemon Search</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="pokemon-input" class="col-form-label">Pokemon Name:</label>
							<input class="form-control" id="pokemon-input" type="text" placeholder="Search..">
							<br>
							<div class="list-group" id="pokemon-list">
								{% for monster in pokemon|sort(attribute='id') %}
									<button type="button" class="list-group-item list-group-item-action" data-dismiss="modal"><img src="/static/images/sprites/{{ monster.name }}.png"/>{{ monster.name }}</button>
								{% endfor %}
							</ul>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock%}
