{% extends "base.html" %}

{% block title %}
	Home
{% endblock %}

{% block homeActive %}active{% endblock %}

{% block headScripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript>

		var pokemonImgDivId1Testi = "";
		var pokemonImgDivId2Test = "";
		$(function()
		{
			$('.pokemonButton').bind('click', function()
			{
				
				$.getJSON('/background_process_2/',
				{
					pokemonButtonId: $(this).attr('id'),
				},
				function(data)
				{
					pokemonImgDivId1Test = data.pokemonImgDivId1;
					pokemonImgDivId2Test = data.pokemonImgDivId2;
					$("#test").text(data.pokemonImgDivId2);
				});
				//return false;
				
			});
		});

		$(function() 
		{
			$('#pokemon-list button').bind('click', function() 
			{
				$.getJSON('/background_process/', 
				{
					pokemonName: $(this).text(),
				}, 
				function(data)
				{
					$("#formTest").text(data.result);

					var img = $(document.createElement('img'));
					img.attr('src', data.pokemonImagePath);
					
					$("#test2").text(pokemonImgDivId1Test);
					$("#test3").text(pokemonImgDivId2Test);
					$(pokemonImgDivId2Test).remove();
					img.appendTo(pokemonImgDivId1Test);

				});
				//return false;
			});
		});

		$(function() 
		{
			$('a#pokemon2_input').bind('click', function() 
			{
				$.getJSON('/background_process/', 
				{
					pokemonName: $('input[name="pokemon2"]').val(),
				}, 
				function(data)
				{
					$("#result").text(data.result);

					var img = $(document.createElement('img'));
					img.attr('src', data.pokemonImagePath);
					
					$('img#testImage2 > img').remove();
					img.appendTo('#testImage2');
				});
				return false;
			});
		});

							$(document).ready(function()
							{
								$("#pokemon-input").on("keyup", function()
								{
									var value = $(this).val().toLowerCase();
									$("#pokemon-list button").filter(function() 
									{
										$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
									});
								});
							});
						</script>
{% endblock %}


{% block page_content %}
	<h1 class="text-center">Home</h1>
	<div class="text-center">
	<p>Hello {{ name }}</p>
	<p>This is the home page.</p>
	</div>

	<div class = "text-center">
		<form action="" method="post" name="form" enctype="multipart/form-data">
			<br>
			<img id="pokemon1Div"/>	
			<button type="button" class="btn btn-primary pokemonButton" id="pokemon1" data-toggle="modal" data-target="#searchPokemonModal">Pokemon 1</button>

			<br><br>
			<img id="pokemon2Div"/>
			<button type="button" class="btn btn-primary pokemonButton" id="pokemon2" data-toggle="modal" data-target="#searchPokemonModal">Pokemon 2</button>
			
			<br><br>
			<img id="pokemon3Div"/>
			<button type="button" class="btn btn-primary pokemonButton" id="pokemon3" data-toggle="modal" data-target="#searchPokemonModal">Pokemon 3</button>

			<br><br>
			<img id="pokemon4Div"/>
			<button type="button" class="btn btn-primary pokemonButton" id="pokemon4" data-toggle="modal" data-target="#searchPokemonModal">Pokemon 4</button>

			<br><br>
			<img id="pokemon5Div"/>
			<button type="button" class="btn btn-primary pokemonButton" id="pokemon5" data-toggle="modal" data-target="#searchPokemonModal">Pokemon 5</button>

			<br><br>
			<img id="pokemon6Div"/>
			<button type="button" class="btn btn-primary pokemonButton" id="pokemon6" data-toggle="modal" data-target="#searchPokemonModal">Pokemon 6</button>
		</form>
	</div>

	<div class="modal fade" id="searchPokemonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Pokemon Search</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="pokemon-input" class="col-form-label">Pokemon Name:</label>
							<input class="form-control" id="pokemon-input" type="text" placeholder="Search..">
							<br>
							<div class="list-group" id="pokemon-list">
								{% for monster in pokemon|sort(attribute='id') %}
									<button type="button" class="list-group-item list-group-item-action" data-dismiss="modal"><img src="/static/images/sprites/{{ monster.name }}.png"/>{{ monster.name }}</button>
								{% endfor %}
							</ul>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Add Pokemon</button>
				</div>
			</div>
		</div>
	</div>
{% endblock%}

