{% extends "base.html" %}

{% block title %}
	Error: Invalid Username/Password
{% endblock%}

{% block content %}
	<div class="container">
		<div class="content">
			<h1 class="text-center">Error: Incorrect Username/Password</h1>
			<br>
			<div class="text-center">
				<img src="/static/images/confused-pokemon.gif">
			</div>
			<br>
			<p class="text-center">You have entered the incorrect username or password.</p>
			<p class="text-center">Press the button below to go back and try again:</p>
			<br>
			<div class="text-center">
				<a href="{{ url_for('login') }}" class="btn btn-primary outline">Go Back</a>
			</div>
		</div>
	</div>
{% endblock %}
