{% extends "base.html" %}

{% block title %}
	Register Admin
{% endblock %}

{% block page_content %}
	<div class="container">
		<form method="POST" action="/register/admin/">
			<h2>Admin Registration</h2>
			{{ form.hidden_tag() }}
			{{ wtf.form_field(form.username) }}
			{{ wtf.form_field(form.email) }}
			{{ wtf.form_field(form.password) }}
			{{ wtf.form_field(form.administrator) }}
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
		</form>
	</div>
{% endblock %}
